# Avance proyecto

### Mónica Ibarra Herrera

In [33]:
import pandas as pd
import numpy as np

In [34]:
df=pd.read_csv("C:/Users/cesar/apps/data-analytics/data/raw/wcmatches.csv") #Leer el dataset

In [35]:
df.info() #Saber si hay datos faltantes en las columnas y ver de qué tipo son

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            900 non-null    int64
 1   country         900 non-null    object
 2   city            900 non-null    object
 3   stage           900 non-null    object
 4   home_team       900 non-null    object
 5   away_team       900 non-null    object
 6   home_score      900 non-null    int64
 7   away_score      900 non-null    int64
 8   outcome         900 non-null    object
 9   win_conditions  62 non-null     object
 10  winning_team    731 non-null    object
 11  losing_team     731 non-null    object
 12  date            900 non-null    object
 13  month           900 non-null    object
 14  dayofweek       900 non-null    object
dtypes: int64(3), object(12)
memory usage: 105.6+ KB

**Features con valores faltantes:**

- win_conditions: 838 valores

- winning_team: 169 valores

- losing_team:169 valores

## Limpieza de datos

In [36]:
#Eliminación de feature de 'win_conditions'
df.drop(columns=['win_conditions'], inplace=True)
df

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,Argentina,France,1930-07-15,Jul,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,2018,Russia,Sochi,Quarterfinals,Russia,Croatia,2,2,A,Croatia,Russia,2018-07-07,Jul,Saturday
896,2018,Russia,Saint Petersburg,Semifinals,France,Belgium,1,0,H,France,Belgium,2018-07-10,Jul,Tuesday
897,2018,Russia,Moscow,Semifinals,Croatia,England,2,1,H,Croatia,England,2018-07-11,Jul,Wednesday
898,2018,Russia,Saint Petersburg,Third place,Belgium,England,2,0,H,Belgium,England,2018-07-14,Jul,Saturday
899,2018,Russia,Moscow,Final,France,Croatia,4,2,H,France,Croatia,2018-07-15,Jul,Sunday

In [37]:
df[df['stage']=='Final']

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,winning_team,losing_team,date,month,dayofweek
17,1930,Uruguay,Montevideo,Final,Uruguay,Argentina,4,2,H,Uruguay,Argentina,1930-07-30,Jul,Wednesday
34,1934,Italy,Rome,Final,Italy,Czechoslovakia,2,1,H,Italy,Czechoslovakia,1934-06-10,Jun,Sunday
52,1938,France,Colombes,Final,Hungary,Italy,2,4,A,Italy,Hungary,1938-06-19,Jun,Sunday
100,1954,Switzerland,Berne,Final,West Germany,Hungary,3,2,H,West Germany,Hungary,1954-07-04,Jul,Sunday
135,1958,Sweden,Solna,Final,Sweden,Brazil,2,5,A,Brazil,Sweden,1958-06-29,Jun,Sunday
167,1962,Chile,Santiago,Final,Brazil,Czechoslovakia,3,1,H,Brazil,Czechoslovakia,1962-06-17,Jun,Sunday
199,1966,England,London,Final,England,West Germany,4,2,H,England,West Germany,1966-07-30,Jul,Saturday
231,1970,Mexico,Mexico City,Final,Brazil,Italy,4,1,H,Brazil,Italy,1970-06-21,Jun,Sunday
269,1974,Germany,Munich,Final,West Germany,Netherlands,2,1,H,West Germany,Netherlands,1974-07-07,Jul,Sunday
307,1978,Argentina,Buenos Aires,Final,Argentina,Netherlands,3,1,H,Argentina,Netherlands,1978-06-25,Jun,Sunday
359,1982,Spain,Madrid,Final,Italy,West Germany,3,1,H,Italy,West Germany,1982-07-11,Jul,Sunday
411,1986,Mexico,Mexico City,Final,Argentina,West Germany,3,2,H,Argentina,West Germany,1986-06-29,Jun,Sunday
463,1990,Italy,Rome,Final,West Germany,Argentina,1,0,H,West Germany,Argentina,1990-07-08,Jul,Sunday
515,1994,United States,Pasadena,Final,Brazil,Italy,0,0,H,Brazil,Italy,1994-07-17,Jul,Sunday
579,1998,France,Saint-Denis,Final,France,Brazil,3,0,H,France,Brazil,1998-07-12,Jul,Sunday
643,2002,Japan,Yokohama,Final,Germany,Brazil,0,2,A,Brazil,Germany,2002-06-30,Jun,Sunday
707,2006,Germany,Berlin,Final,Italy,France,1,1,H,Italy,France,2006-07-09,Jul,Sunday
771,2010,South Africa,Johannesburg,Final,Netherlands,Spain,0,1,A,Spain,Netherlands,2010-07-11,Jul,Sunday
835,2014,Brazil,Rio de Janeiro,Final,Germany,Argentina,1,0,H,Germany,Argentina,2014-07-13,Jul,Sunday
899,2018,Russia,Moscow,Final,France,Croatia,4,2,H,France,Croatia,2018-07-15,Jul,Sunday

## Sustitución de datos faltantes

In [38]:
var_Anan,=np.where(df['winning_team'].isna()) #Obtener el # de observación de los valores faltantes
var_Anan

array([ 29,  35,  37,  44,  58,  62,  70,  79,  84, 104, 106, 107, 111,
       112, 114, 118, 121, 123, 124, 142, 145, 149, 152, 156, 168, 174,
       177, 180, 187, 200, 210, 214, 220, 222, 232, 238, 240, 242, 244,
       245, 247, 248, 251, 264, 270, 275, 283, 284, 285, 288, 297, 298,
       300, 310, 312, 316, 318, 319, 322, 324, 331, 332, 334, 337, 339,
       346, 348, 353, 355, 360, 364, 366, 371, 372, 373, 374, 376, 378,
       390, 395, 420, 422, 424, 431, 434, 436, 439, 446, 465, 468, 470,
       475, 480, 492, 493, 494, 517, 518, 519, 521, 524, 533, 534, 537,
       539, 540, 544, 549, 554, 556, 558, 563, 582, 585, 586, 592, 594,
       598, 599, 606, 609, 611, 615, 616, 619, 622, 648, 656, 660, 665,
       668, 671, 672, 679, 680, 682, 684, 708, 709, 711, 716, 720, 721,
       728, 730, 732, 735, 742, 750, 754, 755, 785, 787, 788, 793, 799,
       803, 808, 813, 816, 839, 841, 846, 856, 866, 870, 871, 873, 879],
      dtype=int64)

Los valores faltantes de estas dos features son de cuando el juego fue empatado por lo que no hay ganador o perdedor. En este caso así se dejarán los datos.

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          900 non-null    int64
 1   country       900 non-null    object
 2   city          900 non-null    object
 3   stage         900 non-null    object
 4   home_team     900 non-null    object
 5   away_team     900 non-null    object
 6   home_score    900 non-null    int64
 7   away_score    900 non-null    int64
 8   outcome       900 non-null    object
 9   winning_team  731 non-null    object
 10  losing_team   731 non-null    object
 11  date          900 non-null    object
 12  month         900 non-null    object
 13  dayofweek     900 non-null    object
dtypes: int64(3), object(11)
memory usage: 98.6+ KB

## Análisis Exploratorio de Datos (EDA)

### Medidas de tendencia central

In [40]:
#moda, país que ha ganado más mundiales
df["winning_team"].mode()

0    Brazil
Name: winning_team, dtype: object

In [43]:
df[df['winning_team']=='Mexico']

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,winning_team,losing_team,date,month,dayofweek
158,1962,Chile,Viña del Mar,Group 3,Czechoslovakia,Mexico,1,3,A,Mexico,Czechoslovakia,1962-06-07,Jun,Thursday
215,1970,Mexico,Mexico City,Group 1,Mexico,El Salvador,4,0,H,Mexico,El Salvador,1970-06-07,Jun,Sunday
223,1970,Mexico,Mexico City,Group 1,Mexico,Belgium,1,0,H,Mexico,Belgium,1970-06-11,Jun,Thursday
367,1986,Mexico,Mexico City,Group B,Mexico,Belgium,2,1,H,Mexico,Belgium,1986-06-03,Jun,Tuesday
389,1986,Mexico,Mexico City,Group B,Mexico,Iraq,1,0,H,Mexico,Iraq,1986-06-11,Jun,Wednesday
396,1986,Mexico,Mexico City,Round of 16,Mexico,Bulgaria,2,0,H,Mexico,Bulgaria,1986-06-15,Jun,Sunday
482,1994,United States,Orlando,Group E,Mexico,Republic of Ireland,2,1,H,Mexico,Republic of Ireland,1994-06-24,Jun,Friday
523,1998,France,Lyon,Group E,South Korea,Mexico,1,3,A,Mexico,South Korea,1998-06-13,Jun,Saturday
589,2002,Japan,Niigata,Group G,Croatia,Mexico,0,1,A,Mexico,Croatia,2002-06-03,Jun,Monday
608,2002,Japan,Rifu,Group G,Mexico,Ecuador,2,1,H,Mexico,Ecuador,2002-06-09,Jun,Sunday
650,2006,Germany,Nuremberg,Group D,Mexico,Iran,3,1,H,Mexico,Iran,2006-06-11,Jun,Sunday
726,2010,South Africa,Polokwane,Group A,France,Mexico,0,2,A,Mexico,France,2010-06-17,Jun,Thursday
774,2014,Brazil,Natal,Group A,Mexico,Cameroon,1,0,H,Mexico,Cameroon,2014-06-13,Jun,Friday
806,2014,Brazil,Recife,Group A,Croatia,Mexico,1,3,A,Mexico,Croatia,2014-06-23,Jun,Monday
845,2018,Russia,Moscow,Group F,Germany,Mexico,0,1,A,Mexico,Germany,2018-06-17,Jun,Sunday
863,2018,Russia,Rostov-on-Don,Group F,South Korea,Mexico,1,2,A,Mexico,South Korea,2018-06-23,Jun,Saturday

In [48]:
mexico_goals_home = df[df['home_team'] == 'Mexico']['home_score']
mexico_goals_away = df[df['away_team'] == 'Mexico']['away_score']
promedio_goles_mexico = (mexico_goals_home.sum() + mexico_goals_away.sum()) / (len(mexico_goals_home) + len(mexico_goals_away))

print("Promedio de goles metidos por México:", promedio_goles_mexico)

Promedio de goles metidos por México: 1.0526315789473684

In [49]:

partidos_ganados_mexico = df[(df['winning_team'] == 'Mexico')]['winning_team'].count()
total_partidos_mexico = df[(df['home_team'] == 'Mexico') | (df['away_team'] == 'Mexico')].shape[0]
promedio_partidos_ganados_mexico = partidos_ganados_mexico / total_partidos_mexico
print("Promedio de partidos ganados por México:", promedio_partidos_ganados_mexico)

Promedio de partidos ganados por México: 0.2807017543859649